AUTHSERVICE_INTEGRATION=true
EMAILSERVICE_INTEGRATION=true
FILESERVICE_INTEGRATION=true
GATEWAYSERVICE_INTEGRATION=true
LOGGERSERVICE_INTEGRATION=true
REACTSERVICE_INTEGRATION=true
TELEMETRYSERVICE_INTEGRATION=true
TESTSERVICE_INTEGRATION=true
VAULTSERVICE_INTEGRATION=true
